@import "tailwindcss";

@theme {
  --color-obsidian-900: #0A0A0A;
  --color-obsidian-800: #171717;
  --color-obsidian-700: #262626;
  --color-ember-gold: #D4AF37;
  --color-ember-hover: #F1C40F;
  --color-ember-muted: #997900;
  --color-obsidian-muted: #A3A3A3;
}

@layer base {
  body {
    @apply bg-obsidian-900 text-white selection:bg-ember-gold selection:text-obsidian-900;
  }
}
